<h1 class='home_text'><span style="color: #041964">Got Friends?</span> Of course you don't - by now you only know people who are in WDI, too. File them with us.</h1>
<br><br>
<h3 class='home_text'>Use the nav bar above to get around. In the mean time, we'll try to make the site more fun than your friends.</h3>

