<form action='/create' method='post' class="form-horizontal">
	<fieldset> 
		<h2>Add Your Friend!</h2>
		<h4>Just give us some basic info:</h4>
			<div class="control-group">
 				<label class="control-label">Full Name</label>
   				<div class="controls">
     				<input type="text" name="name" placeholder="The Fullest of Names!" class="input-xlarge" autofocus>
     			</div>
     	</div>
  		<div class="control-group">
  			<label class="control-label">Age</label>
     			<div class="controls">
     				<input type="text" name="age" placeholder="Years, please. I don't do days." class="input-xlarge">
     			</div>
 			</div>
  		<div class="control-group">
  			<label class="control-label">Gender</label>
    			<div class="controls">
     				<input type="text" name="gender" placeholder="If they're in WDI, they're probably male..." class="input-xlarge">
      		</div>
  		</div>
    	<div class="control-group">
  			<label class="control-label">Picture</label>
    			<div class="controls">
      			<input type="text" name="picture" placeholder="Image URL, plz." class="input-xlarge">
      		</div>
  		</div>
    	<div class="control-group">
  			<label class="control-label">Twitter</label>
    			<div class="controls">
      			<input type="text" name="twitter_url" placeholder="URL, please" class="input-xlarge">
      		</div>
  		</div>
    	<div class="control-group">
  			<label class="control-label">GitHub</label>
    			<div class="controls">
      			<input type="text" name="github_url" placeholder="Yup, another URL." class="input-xlarge">
      		</div>
  		</div>
    	<div class="control-group">
  			<label class="control-label">Facebook</label>
    			<div class="controls">
      			<input type="text" name="facebook_url" placeholder="Keep them URLs coming!" class="input-xlarge">
      		</div>
  		</div>
  		<div>
				<button class="btn btn-primary cntr_bttn">Done!</button>
  		</div>
	</fieldset>

</form>