
<div class='container'>
	<br> <br>

	<h4 id='my_text' style='padding:10px'>Welcome to Mike's video library! It's a convenient place to store your favorite videos from across the web.</h4> <br> <br>

	<form method='post' action='/create'>
		<h4 class='my-text'>Add a Movie:</h4>
		<input type='text' name='title' placeholder='Title'> <br>
		<input type='text' name='description' placeholder='Description'> <br>
		<input type='text' name='url' placeholder='URL'> <br>
		<input type='text' name='genre' placeholder='Genre'> <br>
		<button class='btn cust-btn btn-primary'>Add Video</button> <br>
	</form>
</div>
